.btn
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;  
  font-size: 20px;
}

#clear
{
  background-color: red;
}

body
{   
  font-family: "";
  position: absolute;
  left: 50%;
  margin-left: -100px;
  
}
