/*
*Author: Daniel Ilaro da Silva
*/
#title{
    background-color: brown;
    color: white;
}
.pure-menu-horizontal {
    background-color: bisque;
}
form{
    background-color: chocolate;
    color: white;
}
input{
    color: black;
}

button{
    color: black;
}

footer{
    background-color: azure;
}