#title{
    margin-top: -20px;
}
menu{
    margin-top: -20px;
    height: 35px;
}

form{
    padding-bottom: 20px;
    padding-left: 15px;
}

h3{
    margin-bottom: 5px;
}

footer{
    position: fixed;
    right: 1px;
    bottom: 3px;
}