{% comment %} Author: Daniel Ilaro da Silva {% endcomment %}
{% comment %} Data: 21/10/2018 {% endcomment %}


<!DOCTYPE <!DOCTYPE html>
{% load  static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calc_di</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/dimensions.css' %}"/> 
    <link rel="stylesheet" type="text/css" media="screen" href="{% static  'css/colors.css'%}"/>
</head>

<body>
    <header>
        <div id="title">
            <h1>SN - Simple Number</h1>
        </div>

        <nav>
            <div class="pure-menu pure-menu-horizontal">
                <menu>
                    <ul>
                         <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'index' %}">Inicio</a></li>
                         <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'calculate' %}">Calculadora</a></li>
                    </ul>
                </menu> 
            </div>
        </nav>
        
    </header>
        <div id="content">
            {% block 'content' %} {% endblock %}
        </div>
    <footer>
        Cybers Atlética - 2018
    </footer>
</body>

</html>
